[training]
test_data_file_name = 'DIP_330K.txt'

training_data_file_name = 'training_data.txt'
validation_data_file_name = 'validation_data.txt'

training_labels_file_name = 'training_labels.txt'
validation_labels_file_name = 'validation_labels.txt'

number_of_training_samples = 200000
number_of_validation_samples = 0

random_seed = 1

model_name = 'my_model.hdf5'

number_of_epochs = 60

[film-properties]
# Comma-separated values for each film layer, from top to bottom (including the substrate layer)
# Thickness range in m
min_thickness = 20e-10, 2.8e-10, 1
max_thickness = 300e-10, 30e-10, 1

# RMS roughness range in m^2
min_roughness = 0, 2.5e-10, 1e-10
max_roughness = 60e-10, 2.5e-10, 1e-10

# Scattering length density real part in 1/m^2
min_scattering_length_density = 1e+14, 17.8e+14, 20.1e+14
max_scattering_length_density = 14e+14, 17.8e+14, 20.1e+14